<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Price Pridiction - Predictfy</title>

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./images/favicon/site.webmanifest" />

    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300"
    />
    <link rel="stylesheet" href="css/signup.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">Price Pridiction</h1>
      <form class="form" action="/price_predict" method="post">
        <label for="item">Iteam</label>
        <input type="text" name="item" />
        <label for="state">State</label>
        <input type="text" name="state" />
        <label for="weekend">WeekEnd</label>
        <input type="text" name="weekend" />
        <label for="grade">Grade</label>
        <input type="text" name="grade" />
        <label for="Organic">Organic</label>
        <input type="text" name="organic" />

        <label for="RR">RR</label>
        <input type="text" name="rr" />
        <label for="dfd">dfd</label>
        <input type="text" name="dfd" />
        <label for="freshness">freshness</label>
        <input type="text" name="freshness" id="" />
        <label for="seasonal">Seasonal</label>
        <input type="text" name="seasonal" id="" />
        <label for="otipy">Otipy Certified </label>
        <input type="text" name="otipy" id="" />
        <label for="uniqueCustomer">Unique Customer </label>
        <input type="text" name="unique" id="" />
        <label for="demand">Demand </label>
        <input type="text" name="demand" id="" />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
